@font-face {
  font-family: 'Logo Font';
  src: URL('../../fonts/overmch.ttf') format('truetype');
}

#title-header {
  font-family: "Logo Font";
  font-size: max(30px, 3vw + 10px);
  margin-top: 10px;
  margin-bottom: 10px;
}

.container {
  text-align: center;
}

#logout {
  background-color: #CF5858;
}

.go2eat-button {
  display: inline-block;
  justify-content: center;
  border: none;
  background-color: #719BCD;
  border-radius: 50px;
  font-size: 25px;
  font-weight: 600;
  color: white;
  height: 40px;
  width: max(70%, 125px);
  margin-bottom: 10px;
}
