@font-face {
  font-family: 'Logo Font';
  src: URL('../../fonts/overmch.ttf') format('truetype');
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes delayed-fadein {
    0% { opacity:0; }
    50% { opacity:0; }
    100% { opacity:1; }
}

#toplevel {
  /*background-color: cornsilk; doesn't look as nice as I was hoping */
}

.landing-page {
  /* min-width:250px; seems to fuck with mobile resolution */
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: max(1vw, 12px);
}

.landing-title {
  font-family: 'Logo Font';
  font-size: max(7vw, 40px);
  color: #719BCD;
  text-shadow: 2px 2px #000000;
  text-align: center;
  animation: fadein 2s;
  margin-top: 50px;
  margin-bottom: 0px;
}


.landing-content{
  animation: delayed-fadein 2s;
  position: relative;
  text-align: center;
  top: 0%;
  padding-bottom: 0px;
  /*
  left: 5%;
  using flexbox instead */
}

.image-container {
  justify-content: center;
}

.landing-image {
  animation: delayed-fadein 3s;
  position: relative;
  height: auto;
  max-width: 30vw;
  width: auto;
}

.about-page-button, .create-account-button, .eat-button {
  border-radius: 10px;
	cursor: pointer;
	background: #e7e7e7;
	border: none;
	padding: 1.5rem 3rem;
	font-family: inherit;
	font-size: inherit;
	position: relative;
	display: inline-block;
  margin-bottom: 1.5rem;
}

.landing-buttons {
  text-align: center;
}

button:hover{
	background: #a1a1a1;
}

.about-page-button{
  font-size: 1.5em;
}
.eat-button{
  font-size: 3em;
}
