.lobby-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    width: max(400px, 50%);
}
.lobby-page-header {
    height: 20%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 25px;
    font-weight: 600;
}

.lobby-page-body {
    display: flex;
    flex-direction: row;
    height: 60%;
    width: 80%;
}


.lobby-participants-display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-top: 10px;
}

.lobby-participants {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.lobby-user {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 33%;
}

.lobby-participant-name {
    text-align: center;
    width: 80%;
}

.lobby-buttons {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lobby-room-code-host {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    border-radius: 6px;
    height: 20%;
    width: 80%;
    justify-content: center;
    margin-top: 30%;
}
.lobby-room-code {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    border-radius: 6px;
    height: 20%;
    width: 80%;
    justify-content: center;
    margin-top: 40%;
}

.lobby-start-search-button {
    border: none;
    background-color: #719BCD;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    height: 40px;
    width: 150px;
    margin-top: 13%;
    cursor: pointer;
}

.lobby-settings-button {
    border: none;
    background-color: #719BCD;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    height: 40px;
    width: 130px;
    margin-top: 13%;
    cursor: pointer;
}

.lobby-page-footer {
    height: 20%;
    width: 50%;
    display: flex;
    justify-content: center;
}
.lobby-page-divider {
    width: 80%;
}

.lobby-page-waiting-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}